<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="false" /> 
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.korres.system.user.entity.system.User" alias="User"/>
		<typeAlias type="com.korres.system.user.entity.system.Role" alias="Role"/>
		<typeAlias type="com.korres.system.user.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.korres.system.user.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.korres.system.user.entity.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.korres.system.user.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
	<mappers>
	
		<!-- 系统模块    开始 -->
		<!-- 系统用户 -->
		<mapper resource="mybatis/system/UserMapper.xml"/>
		<!-- 系统角色 -->
		<mapper resource="mybatis/system/RoleMapper.xml"/>
		<!-- 系统菜单 -->
		<mapper resource="mybatis/system/MenuMapper.xml"/>
		<!-- 新用户处理 -->
		<mapper resource="mybatis/system/UserXMapper.xml"/>
		<!-- app用户 -->
		<mapper resource="mybatis/system/AppuserMapper.xml"/>
		<!-- 数据字典 -->
		<mapper resource="mybatis/system/ZidianMapper.xml"/>
		<!-- 系统模块    结束 -->
		
	</mappers>
	
</configuration>